{% extends 'layout_correos.html' %}
{% block titulo %}
  Solicitud de Restaurar Contraseña
{% endblock %}
{% block contenido %}
  <center>
    <p>Estimado usuario,</p>
    <p>
      Para reiniciar la contraseña, presione el siguiente <a href="{{ domain }}resetpassword/reset?token={{ token }}" target="_blank">enlace</a>.
    </p>
    <p>Si no funciona, por favor copie y pegue el siguiente texto: <br>
       
      {{ domain }}resetpassword/reset?token={{ token }}</p>
      
    <p>Si usted no realizó la solicitud, ignore este correo.</p>
  </center>
{% endblock %}
